
<div class="columns">
    <div class="column is-vcentered has-text-centered">
      <i class="fas fa-7x fa-train"></i>
    </div>
    <div class="column is-vcentered has-text-centered">
      <i class="fas fa-7x fa-globe"></i>
    </div>
    <div class="column is-vcentered has-text-centered">
      <a href="https://github.com/appsecco/using-docker-kubernetes-for-automating-appsec-and-osint-workflows class="fab fa-github-square fa-7x""><i class="fab fa-github-square fa-7x"></i></a>

    </div>
</div>

